body {
  font-family:'Courier New', Courier, monospace;
  background: #111;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  text-align: center;
  font-size: 200px;
}

.answer {
  text-align: center;
  font-family:'Courier New', Courier, monospace !important;
  font-size: 75px;
  height: 100px;
  width: 600px;
  outline: none;
  background: #333;
  border: none;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
 margin: 0; 
}

.counter {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}